.box2{
    flex-grow:1;
    display: flex;
    flex-direction: column;
}
#main{
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap:wrap;
}
#sign_in{
    margin-top: 40px;
    width: 400px;
    margin-left:auto;
}
#register{
    margin-top: 40px;
    width: 400px;
    margin-right:auto;
}
.input{
    margin-bottom: 10px;
    height:30px;
    width:250px;
    border: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}
select{
    border: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}
#register_button{
    border-radius: 5px;
    width:80px;
    height:30px;
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #034078;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    box-shadow: 3.5px 3.5px 2px rgba(0, 0, 0, 0.5);
}
#sign_in_button{
    border-radius: 5px;
    width:80px;
    height:30px;
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #034078;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    box-shadow: 3.5px 3.5px 2px rgba(0, 0, 0, 0.5);
}
#hint{
    color:#555555;
    font-size: 16px;
    font-weight: bold;
}
.title{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 25px;
}
#test{
    margin-top: 40px;
    color:#555555;
    font-size: 16px;
    font-weight: bold;
}