/* .container1{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    width:95%;
    justify-content:flex-start;
    text-align: center;
}
.box1{
    width:100px;
    display: flex;
    flex-direction: column;
}
.menu_bar{
    height: 60px;
    line-height:30px;
}
#menu{
    display: flex;
    flex-direction: column;
} */
.box2{
    flex-grow:1;
    display: flex;
    flex-direction: column;
}
#main{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.content{
    max-width: 950px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    text-align:left;
    border-radius: 5px;
    background-color: white;
    border-color:#D9D9D9;
    border-width:2px;
    border-style:solid;
}
/* .content_title{
    text-align:left;
} */
.content_title{
    margin-left: 40px;
}
.paragraph{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
}
.tag{
    width:50px;
    max-height: 22px;
    text-align: center;
    margin-right: 10px;
    margin-left: 40px;
    border-radius: 5px;
    border-color:#D9D9D9;
    border-width:2px;
    border-style:solid;
}
.article{
    max-width: 850px;
}
.information{
    margin-top: 5px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
