.container1{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    width:95%;
    justify-content:flex-start;
    text-align: center;
}
.box1{
    width:100px;
    display: flex;
    flex-direction: column;
}
.menu_bar{
    height: 60px;
    line-height:30px;
}
#menu{
    display: flex;
    flex-direction: column;
}
.box2{
    flex-grow:1;
    display: flex;
    flex-direction: column;
}
#filter{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
.littleBox{
    text-align:left;
}
#button{
    width:50px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
#contents{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
#icon_profile{
    height: 60px;
}
.emotion{
    margin-top: 15px;
    font-size: 20px;
}
.value{
    margin-top: 15px;
    font-size: 20px; 
}