.box2{
    flex-grow:1;
    display: flex;
    flex-direction: column;
}
#main{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 22px;
    background-color: white;
    border-color:#D9D9D9;
    border-width:2px;
    border-style:solid;
    line-height: 30px;
    border-radius: 5px;
    width: 600px;
}
#admin{
    margin-bottom: 15px;
}
.text{
    margin-top: 15px;
}
#button{
    width:90px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    height:35px;
    background-color: #034078;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    box-shadow: 3.5px 3.5px 2px rgba(0, 0, 0, 0.5);
    font-size: 15px;
}